<div class="page">
<h1>Your Bookings</h1>

<% if @bookings.any? %>
  <ul>
    <% @bookings.each do |booking| %>
      <li>
        <%= link_to "#{booking.brain.name} - #{booking.start_date}", booking_path(booking) %> <%= "#{booking.status}" %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>You have no bookings.</p>
<% end %>

<%= link_to "Book a brain", brains_path, class: 'btn button-link' %>
</div>
